@model Gisoo.ViewModel.ProductViewModelAdmin

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">جزییات محصول</h3>
                </div>
                <div class="row">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="@Model.Product.id" />
                        <input type="hidden" asp-for="@Model.Product.notConfirmDescription" />
                        <input type="hidden" asp-for="@Model.Product.userId" />
                        <input type="hidden" asp-for="@Model.Product.adminConfirmStatus" />
                        <input type="hidden" asp-for="@Model.Product.createDate" />
                        <input type="hidden" asp-for="@Model.Product.expireDate" />
                       
                        <div class="box-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">تاریخ ایجاد</label>

                                    <input class="form-control" disabled value="@Gisoo.Utility.PersianCalendarDate.PersianCalendarResult(Model.Product.createDate)" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label">تاریخ انقضا فعلی @Gisoo.Utility.PersianCalendarDate.PersianCalendarResult((DateTime)Model.Product.expireDate)</label>
                                    <input class="form-control" id="expireDate1" name="expireDate1" value="" />
                                </div>
                            </div>
                           
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Product.title" class="control-label"></label>
                                    <input asp-for="@Model.Product.title" class="form-control" />
                                    <span asp-validation-for="@Model.Product.title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Product.countView" class="control-label"></label>
                                    <input asp-for="@Model.Product.countView" class="form-control" disabled />
                                    <span asp-validation-for="@Model.Product.countView" class="text-danger"></span>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Product.price" class="control-label"></label>
                                    <input asp-for="@Model.Product.price" value="@String.Format("{0:0,0}", @Model.Product.price)" type="text" onkeyup="numberWithCommas(this)" class="form-control" />
                                    <span asp-validation-for="@Model.Product.price" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">کاربر</label>
                                    <input disabled value="@Model.Product.user.cellphone" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="@Model.Product.description" class="control-label"></label>
                                    <textarea asp-for="@Model.Product.description" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.Product.description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="file.click()"><i class="fa fa-camera"></i>انتخاب عکس</button>
                                    <input display="Image" id="file" name="file" class="TheFile" onchange="SetPictures('file','ImageItems');" style="display:none" multiple type="file">
                                    <div id="ImageItems" style="margin-top:10px">

                                    </div>
                                </div>
                                @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count() > 0)
                                {
                                    <div id="RemoveImageItems" class="form-group">
                                        <label>عکس ها</label>
                                        @foreach (var item in Model.Product.ProductImages)
                                        {
                                            <div id=@item.id>
                                                <div><img src="/wwwroot/Product/File/@item.url" style="width: 70px; height: 60px;" id="@item.id" /></div><div style="margin-top:5px;width:40px">
                                                    <a data-rid="@item.id" class="btn  btn-danger  btnremovefile">حذف</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="ویرایش" class="btn btn-default" />
                                    <a onclick="goBack()" class="btn btn-danger">بازگشت</a>
                                </div>
                            </div>
                        </div>
</form>
                </div>


            </div>
        </div>
    </div>

</section>


@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/PersianDatePicker.min.js"></script>
    
    <script>
        $(document).ready(function () {

            $('#expireDate1').persianDatepicker({
                formatDate: "YYYY/MM/DD",
                altFormat: 'X',
                observer: true,
                timePicker: {
                    enabled: false
                },

            });
            $("#expireDate1").val('');
            

        });
        function numberWithCommas(x) {
            var tmp = x.value;
            while (tmp.indexOf(',') != -1)
                tmp = tmp.replace(',', '');
            var parts = tmp.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            x.value = parts.join(".");
        }
        $('form').submit(function () {
            if ($('#Product_price').length != 0) {
                while (Product_price.value.indexOf(',') != -1) {
                    Product_price.value = Product_price.value.replace(',', '');
                }
            }
        });
        function goBack() {
            window.history.back();
        }
            $('#RemoveImageItems').on('click', '.btnremovefile', function () {
                RemoveFiles('RemoveImageItems', '/CustomerHome/RemoveFileProduct', 'Id', $(this).attr("data-rid"));
                $(this).closest('div').parent().html('');
              });
    </script>
   
}

