@model Gisoo.Models.Notice

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">جزییات آگهی</h3>
                </div>
                <div class="row">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="id" />
                        
                        <div class="box-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">تاریخ ایجاد</label>

                                    <input class="form-control" disabled value="@Gisoo.Utility.PersianCalendarDate.PersianCalendarResult(Model.createDate)" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label">تاریخ انقضا فعلی @Gisoo.Utility.PersianCalendarDate.PersianCalendarResult(Model.expireDate)</label>
                                    <input class="form-control" id="expireDate1" name="expireDate1" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="title" class="control-label"></label>
                                    <input asp-for="title" class="form-control" />
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">کاربر</label>
                                    <input disabled value="@Model.user.cellphone" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">شرایط</label>
                                    <select asp-for="condition" class="form-control">

                                        @if (Model.condition == ConditionEnum.FixedSalary)
                                        {
                                            <option value="@ConditionEnum.FixedSalary" selected>حقوق ثابت</option>
                                        }
                                        else
                                        {
                                            <option value="@ConditionEnum.FixedSalary">حقوق ثابت</option>
                                        }
                                        @if (Model.condition == ConditionEnum.Percent)
                                        {
                                            <option value="@ConditionEnum.Percent" selected>درصدی</option>
                                        }
                                        else
                                        {
                                            <option value="@ConditionEnum.Percent">درصدی</option>
                                        }
                                        @if (Model.condition == ConditionEnum.Rent)
                                        {
                                            <option value="@ConditionEnum.Rent" selected>اجاره ای</option>
                                        }
                                        else
                                        {
                                            <option value="@ConditionEnum.Rent">اجاره ای</option>
                                        }

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">استان</label>
                                    @*<select id="categoryIdm" class="form-control" asp-items="ViewBag.categoryId">*@
                                    <select asp-for="cityId" class="form-control" asp-items="ViewBag.cityId">

                                        <option value="">انتخاب کنید</option>
                                    </select>
                                    <span asp-validation-for="cityId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">شهرستان</label>
                                    @*<select id="categoryIdm" class="form-control" asp-items="ViewBag.categoryId">*@
                                    <select asp-for="provinceId" class="form-control" asp-items="ViewBag.provinceId">

                                        <option value="">انتخاب کنید</option>
                                    </select>
                                    <span asp-validation-for="provinceId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">حومه</label>
                                    @*<select id="categoryIdm" class="form-control" asp-items="ViewBag.categoryId">*@
                                    <select asp-for="areaId" class="form-control" asp-items="ViewBag.areaId">

                                        <option value="">انتخاب کنید</option>
                                    </select>
                                    <span asp-validation-for="areaId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="description" class="control-label"></label>
                                    <textarea asp-for="description" class="form-control"></textarea>
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">دسته</label>

                                    @if (Model.isBarber)
                                    {
                                        <label>
                                            <input type="checkbox" value="true" checked class="minimal" id="isBarber" name="isBarber">
                                            آرایشگران
                                        </label>
                                    }
                                    else
                                    {
                                        <label>
                                            <input type="checkbox" value="false" class="minimal" id="isBarber" name="isBarber">
                                            آرایشگران
                                        </label>
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="ویرایش" class="btn btn-default" />
                                    <a asp-action="Index" class="btn btn-danger">بازگشت</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</section>


@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/PersianDatePicker.min.js"></script>
    
    <script>
        $(document).ready(function () {
            
            $('#expireDate1').persianDatepicker({
                formatDate: "YYYY/MM/DD",
                altFormat: 'X',
                observer: true,
                timePicker: {
                    enabled: false
                },
                
            });
            $("#expireDate1").val('');
        });

    </script>
    <script>
        $('form').submit(function () {
            if ($('#isBarber').parent().attr('aria-checked', true)) {
                $('#isBarber').val(true);
            }
        })
             $('#cityId').on('change', function () {
            var valueSelected = this.value;
            $('#provinceId').load('@Url.Action("LoadProvince")?cityId=' + valueSelected);
            });
            $('#provinceId').on('change', function () {
            var valueSelected = this.value;
            $('#areaId').load('@Url.Action("LoadArea")?provinceId=' + valueSelected);
            });
    </script>
}

