@model Gisoo.ViewModel.SearchNoticeViewModel
<link href="~/HomeContent/assets/css/styles.css" async defer rel="stylesheet">
<script src="~/HomeContent/assets/js/header-bundle.js"></script>
<script src="~/js/Common.js"></script>
<script src="~/HomeContent/assets/js/footer-bundle.js"></script>
<script src="~/HomeContent/assets/js/footer-base-bundle.js"></script>
@using Gisoo.Utility

<div class="profile__content__header">
    <span>لیست آگهی ها</span>
</div>
<div class="profile__content__filter">
    <form id="SearchNoticeForm">
        <div class="profile__content__filter__wrapper">
            <div>
                <input type="text" class="form-control" asp-for="title" placeholder="عنوان">
            </div>
            <div>
                <input type="text" class=" datepicker" asp-for="registerDate">
            </div>
            <div>
                <button type="button" onclick="SearchNotice()">جستجو</button>
            </div>
        </div>
    </form>
</div>
<div class="profile__content__table">
    <table class="data-table">
        <thead>
            <tr>
                <th>تصویر</th>
                <th>عنوان</th>
                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Notices)
            {
            <tr>
                @if (!String.IsNullOrEmpty(item.image1))
                {
                    <td><img src="/wwwroot/@item.image1" width="50" height="50"></td>
                }
                else if (!String.IsNullOrEmpty(item.image2))
                {
                    <td><img src="/wwwroot/@item.image2" width="50" height="50"></td>
                }
                else if (!String.IsNullOrEmpty(item.image3))
                {
                    <td><img src="/wwwroot/@item.image3" width="50" height="50"></td>
                }
                else
                {
                    <td><img src="/wwwroot/assets/img/slide2.jpg" width="50" height="50"></td>

                }
                <td>@item.title</td>
                <td>@PersianCalendarDate.PersianCalendarResult(item.createDate)</td>
                <td>
                    <a data-toggle="modal" data-target="#QuestionModalNotice" onclick="AssignButtonClicked(this,3)" data-assigned-id="@item.id">حذف</a>
                    <a class="btn-Editwarning" id="@item.id">ویرایش</a>
                    <a class="btn-visit" id="@item.id">آمار بازدید</a>
                    <a onclick="document.querySelector('#formLadder_@item.id').submit()">نردبان</a>
                    <a onclick="document.querySelector('#formExtent_@item.id').submit()">تمدید</a>

                    <form action="LadderNotice" id="formLadder_@item.id" method="post">
                        <input type="hidden" value="@item.id" id="NotId" name="NotId" />
                    </form>
                    <form action="ExtentNotice" id="formExtent_@item.id" method="post">
                        <input type="hidden" value="@item.id" id="NotiId" name="NotiId" />
                        <input type="hidden" value="1" id="isNotice" name="isNotice" />
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>


<script>
    function SearchNotice() {
        var form = $("#SearchNoticeForm").serialize();
        GetData("/CustomerHome/AllNotice", "divRegister", form);
    }
    $(".btn-Editwarning").click(function () {
        GetData("/CustomerHome/RegisterNotice?Id=" + this.id + "", "divRegister");
    });
    $(".btn-visit").click(function () {
        
        GetData("/CustomerHome/VisitAll?Id=" + this.id + "&whichTableEnum=1", "divRegister");
    });
</script>
