@model Gisoo.ViewModel.ArticleListViewModel
@using Gisoo.Utility

@{ ViewData["Title"] = "ArticleDetail";
    Layout = "~/Views/Shared/_CustomerProfileLayout.cshtml"; }


<section class="page-title">
    <div class="page-title__background"></div>
    <div class="container">
        <div class="page-title__wrapper">
            <h1>تمام مقالات</h1>
            <ul>
                <li><a href="/CustomerHome/Index">صفحه اصلی</a></li>
                <li>تمام مقالات</li>
            </ul>
        </div>
    </div>
</section>
<section class="cat-blog">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="cat-blog__title">
                    <h3>مقالات</h3>
                </div>
                <div id="yourDiv">

                    <div class="row">

                        @foreach (var item in Model.Articles)
                        {
                <div class="col-md-6">
                    <div class="cat-blog__list">
                        <div class="cat-blog__list__img">

                            <a href="/CustomerHome/ArticleDetail/@item.id/@item.title.Replace(' ', '-')">
                                <img src="@item.image">
                            </a>

                        </div>
                        <div class="cat-blog__list__desc">
                            <div class="cat-blog__list__desc__title">
                                <h2>
                                    <a href="/CustomerHome/ArticleDetail/@item.id/@item.title.Replace(' ', '-')">@item.title</a>
                                </h2>

                            </div>
                            @*@if (!String.IsNullOrEmpty(item.description))
                                {
                <div class="cat-blog__list__desc__text">
                    @if (item.description.Length > 20)
                    {
                <p>@Html.Raw(item.description)</p> }
                                    else
                                    {
                <p>
                    @Html.Raw(item.description)

                </p>}
                </div>                }*@

                            @*@Html.Raw($"<p style='font-size:12px;'>{ Html.Raw(item.description) }</p>")*@

                        <div class="text-left">
                            <a href="/CustomerHome/ArticleDetail/@item.id/@item.title.Replace(' ', '-')" class="btn btn-warning" style="width:130px;font-size:14px;margin-top:80px;">
                                مطالعه بیشتر ...
                            </a>
                        </div>

                        </div>

                    </div>
                </div>}

                    </div>


                </div>
                <div id="mydiv2"></div>
            </div>


        </div>

    </div>
</section>
@if (Model.Banner != null)
{
<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <a href="@Model.Banner.link"><img src="@Model.Banner.image"></a>
        </div>
    </div>
</section>}
<script>
    window.onscroll = function () {
        LoadListNotice("/CustomerHome/ArticleListPartial");
    }
</script>




