@model Gisoo.Models.ContactUs
@using Gisoo.Utility

@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_CustomerProfileLayout.cshtml";
}

<section class="page-title">
    <div class="page-title__background"></div>
    <div class="container">
        <div class="page-title__wrapper">
            <h1>تماس با ما</h1>
            <ul>
                <li><a href="/CustomerHome/Index">صفحه اصلی</a></li>
                <li>تماس با ما</li>
            </ul>
        </div>
    </div>
</section>
@if (Model != null)
{
<section class="factor">
    <div class="container">

        <div class="factor__wrapper">
            <div class="row">
                <div class="col-md-10 offset-lg-1">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="factor__list">
                                <ul>
                                    <li>
                                        <span>ایمیل</span>
                                        <span>@Model.email</span>
                                    </li>
                                    <li>
                                        <span>آدرس اینستاگرام</span>
                                        <span>@Model.pageInstagramUrl</span>
                                    </li>
                                    <li>
                                        <span>آدرس تلگرام</span>
                                        <span>@Model.pageTelegramUrl</span>
                                    </li>
                                    <li>
                                        <span>تلفن</span>
                                        <span>@Model.phone</span>
                                    </li>
                                    @if (!String.IsNullOrEmpty(Model.pageTwitterUrl))
                                    {
                                        <li>
                                            <span>آدرس توییتر</span>
                                            <span>@Model.pageTwitterUrl</span>
                                        </li>
                                    }
                                   
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
}




