@model Gisoo.ViewModel.LineViewModel
@using Gisoo.Utility

@{
    ViewData["Title"] = "SalonOwner";
    Layout = "~/Views/Shared/_CustomerProfileLayout.cshtml";
}

<section class="profile">
    <div class="container">
        <div class="profile__header">
            <div class="profile__header__toggle" onclick="openTab()">
                <i class="dn-menu"></i>
            </div>
            <div class="profile__header__user">
                <div class="profile__header__user__avatar">
                    @if (String.IsNullOrEmpty(ViewBag.url))
                    {
                        <img src="/HomeContent/assets/img/avatar.jpg">
                    }
                    else
                    {
                        <img src="/wwwroot/@ViewBag.url" />
                    }
                </div>
                <div class="profile__header__user__name">
                    <span id="testname">@ViewBag.UserName</span>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="profile__header__user__name">
                    <span id="testname" style="color:red">کد شما برای معرفی به دوستان:@ViewBag.identifyCode</span>
                </div>
                &nbsp; &nbsp; &nbsp;
                @if (@ViewBag.expireDate != null)
                {
                    <div class="profile__header__user__name">
                        <span style="color:red">تاریخ انقضا پروفایل:@PersianCalendarDate.PersianCalendarResult(ViewBag.expireDate)</span>
                    </div>
                }
                &nbsp; &nbsp; &nbsp;
                @if (@ViewBag.isProfileAccept == false)

                {
                    if (@ViewBag.isProfileComplete == true)
                    {

                        <div class="profile__header__user__name">
                            <span style="color:red">شما پروفایل خود را تکمیل نموده اید لطفا منتظر تایید ادمین بمانید</span>
                        </div>
                    }
                    else
                    {
                        <div class="profile__header__user__name">
                            <span style="color:red">برای تایید کاربری شما باید پروفایل خود را تکمیل نمایید و منتظر تایید ادمین باشید</span>
                        </div>
                    }
                }


            </div>
            <div class="profile__header__menu">
                <ul>
                    <li>
                        <a href="/LogoutCustomer">خروج</a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="profile__wrapper" style="min-height:350px;">
            <div class="profile__sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="#"><span>تکمیل پروفایل</span></a>
                            <ul>
                                <li>
                                    <a style="cursor:pointer" onclick="profileManagment()" @*href="#!"*@ class="link"><span>تکمیل اطلاعات پروفایل</span></a>
                                </li>
                            </ul>
                        </li>
                        @if (ViewBag.totalprice == 0)
                        {
                            <li>
                                <a style="cursor:pointer" href="/CustomerHome/FactorChargeAccountFree"><span>خرید پکیج(شارژ اکانت)</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a style="cursor:pointer" href="/CustomerHome/FactorChargeAccount"><span>خرید پکیج(شارژ اکانت)</span></a>
                            </li>
                        }
                        <li>
                            <a href="#"><span>مدیریت لاین ها</span></a>
                            <ul>
                                <li>
                                    <a onclick="showAllLine()" style="cursor:pointer" class="link"><span>همه لاین های من</span></a>
                                </li>

                                @*<li>
                                <a style="cursor:pointer" id="newLine"><span>ایجاد لاین</span></a>
                            </li>*@
                                <li>
                                    <a style="cursor:pointer" id="newLineReserve" class="link"><span>ایجاد خدمات</span></a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#"><span>مدیریت تبلیغات و ورکشاپ</span></a>
                            <ul>

                                <li>
                                    <a style="cursor:pointer" onclick="showAllAdvertisment()" class="link"><span>همه تبلیغات من</span></a>
                                </li>
                                <li>
                                    <a style="cursor:pointer" id="newAdvertisment" class="link"><span>ایجاد تبلیغ</span></a>

                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>مدیریت آگهی ها</span></a>
                            <ul>

                                <li>
                                    <a onclick="showAllNotice()" style="cursor:pointer" class="link"><span>همه آگهی های من</span></a>
                                </li>
                                <li>
                                    <a style="cursor:pointer" id="newNotice" class="link"><span>ایجاد آگهی</span></a>

                                </li>

                            </ul>
                        </li>






                        <li>
                            <a href="#"><span>رزرو ها</span></a>
                            <ul>
                                <li>
                                    <a style="cursor:pointer" onclick="showAllReserve()" class="link"><span>همه رزرو ها</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="profile__content">
                <div class="profile__content__dashboard">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="profile__content__dashboard__item">
                                <span>امتیاز</span>
                                <span>@ViewBag.UserScore</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="profile__content__dashboard__item">
                                <span>آگهی ها</span>
                                <span>@ViewBag.TotalNotice</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="profile__content__dashboard__item">
                                <span>تبلیغات وورکشاپ</span>
                                <span>@ViewBag.TotalAdvertisments</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="profile__content__dashboard__item">
                                <span>رزروها</span>
                                <span>@ViewBag.TotalReserve</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profile__content" style="display:none">

                </div>
                <div id="divRegister" style="display:none">

                </div>
            </div>
        </div>
    </div>
</section>
<div id="Error">

</div>
<div id="Question">

</div>
<div id="Advertisment">

</div>
<div id="Notice">

</div>
<div class="modal fade" id="score-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: 7px; margin-left: 7px;">
                </button>
                <h4 class="modal-title">سامانه گیسو</h4>
            </div>
            <div class="modal-body">
                <p>درخواست شما با موفقیت انجام شد و از امتیاز شما کسر گردید</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="line-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: 7px; margin-left: 7px;">
                </button>
                <h4 class="modal-title">سامانه گیسو</h4>
            </div>
            <div class="modal-body">
                <p id="txtLine"></p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="ItemId">
    <input name="lineid" id="lineid" hidden>
    <input name="advertismentid" id="advertismentid" hidden>
    <input name="noticeid" id="noticeid" hidden>
</div>
<script>
    function openTab() {
        $('.profile__wrapper').toggleClass('profile__wrapper--collapse');

    }
    $('.profile__sidebar nav a').on('click', function () {
        if ($(this).hasClass('link')) {
            $('.profile__wrapper').toggleClass('profile__wrapper--collapse');
        }
    })
    window.onload = Load;
	function Load() {
        CreateAllModals();
        if ('@ViewBag.ChargeFree' == 'True') {
            $('#line-user').modal('show');
            $('#line-user #txtLine').html("پروفایل شما رایگان تمدید شد");

        }
        if ('@ViewBag.subScore' == 'True') {
        $('#score-user').modal('show');
        }
        if ('@ViewBag.isReserveWeek' == 'True') {
            GetData("/CustomerHome/ResearveWeek?lineId=@ViewBag.lineId", "divRegister");

        }

       if ('@ViewBag.isNoticeShortcut' == 1) {

			$("#newNotice").click();
		}
        	if ('@ViewBag.hasadverstitmentshortcut' == 1) {
			$("#newAdvertisment").click();
		}

	}
    function LineRegister() {
        var Parameters = [{ id: "LineTitle", htmlname: "LineTitle", special: "" },
        { id: "LineDescription", htmlname: "LineDescription", special: "" },
        { id: "LinePrice", htmlname: "LinePrice", special: "" },
        { id: "file", htmlname: "file", special: "file" }];
        PostAjax('../CustomerHome/AddLine', Parameters, "../CustomerHome/SalonOwner");
    }
    $("#newLine").on("click", function () {

        if ('@ViewBag.TotalCountRegisterLine' < 20) {
            var compareDate =@DateTime.Compare(@ViewBag.expireDate, @DateTime.Now);
            if (compareDate < 0) {
                $('#line-user').modal('show');
                $('#line-user #txtLine').html("پروفایل شما منقضی شده است");
            }
            else  if ('@ViewBag.isProfileAccept' == 'False')
            {
                if ('@ViewBag.isProfileComplete' == 'True') {
                    $('#line-user').modal('show');
                    $('#line-user #txtLine').html("شما پروفایل خود را تکمیل نموده اید لطفا منتظر تایید ادمین بمانید ");
                }
                else {
                    $('#line-user').modal('show');
                    $('#line-user #txtLine').html("لطفا اول نسبت به تکمیل پروفایل خود اقدام نمایید ");
                }
                }
                else {
                    GetData("/CustomerHome/RegisterLine", "divRegister");
                }
        }
        else {
            $('#line-user').modal('show');
            $('#line-user #txtLine').html("ثبت لاین از تعداد مجاز گذشته است");
        }
        
    });

    $("#newLineReserve").on("click", function () {
        if ('@ViewBag.TotalCountRegisterLine' < 20) {
            var compareDate =@DateTime.Compare(@ViewBag.expireDate, @DateTime.Now);
            if (compareDate < 0) {
                $('#line-user').modal('show');
                $('#line-user #txtLine').html("پروفایل شما منقضی شده است");
            }
            else if ('@ViewBag.isProfileAccept' =='False')
            {
                if ('@ViewBag.isProfileComplete' == 'True') {
                    $('#line-user').modal('show');
                    $('#line-user #txtLine').html("شما پروفایل خود را تکمیل نموده اید لطفا منتظر تایید ادمین بمانید ");
                }
                else {
                    $('#line-user').modal('show');
                    $('#line-user #txtLine').html("لطفا اول نسبت به تکمیل پروفایل خود اقدام نمایید ");
                }
                }
            else {
                GetData("/CustomerHome/RegisterLineForReserve", "divRegister");
            }
        }
        else {
            $('#line-user').modal('show');
            $('#line-user #txtLine').html("ثبت لاین از تعداد مجاز گذشته است");
        }
        //$(".profile__wrapper").removeClass('profile__wrapper--collapse');

    });
    //$(".profile__header__toggle").on("click", function () {
    //    $(".profile__wrapper").addClass('profile__wrapper--collapse');

    //})
    
    if ('@ViewBag.isRegisterLine' == 'True') {
        showAllLine();
    }
    if ('@ViewBag.isRegisterAdvertisment' == 'True') {
        showAllAdvertisment();
    }
    if ('@ViewBag.isRegisterNotice' == 'True') {
        showAllNotice();
    }

	function showAllLine() {
		GetData("/CustomerHome/AllLine", "divRegister");
    }
	function Remove() {
		var Parameters = [{ id: "id", htmlname: "lineid", special: "" }];
        PostAjax('../CustomerHome/Remove', Parameters, window.location.href = "/CustomerHome/SalonOwner?isRegisterLine=true");
		$("#QuestionModal").modal('hide');
        $('.modal-backdrop').remove();

    }
    function RemoveAdvertisment() {
        var Parameters = [{ id: "id", htmlname: "advertismentid", special: "" }];
        PostAjax('../CustomerHome/RemoveAdvertisment', Parameters, showAllAdvertisment);
        $("#QuestionModalAdvertisment").modal('hide');
        $('.modal-backdrop').remove();
    }
    function RemoveNotice() {
        var Parameters = [{ id: "id", htmlname: "noticeid", special: "" }];
        PostAjax('../CustomerHome/RemoveNotice', Parameters, showAllNotice);
        $("#QuestionModalNotice").modal('hide');
        $('.modal-backdrop').remove();
    }

    function AssignButtonClicked(elem, page) {
        if (page == 1) {
            $('#lineid').val($(elem).data('assigned-id'));
        }
        if (page == 2) {
            $('#advertismentid').val($(elem).data('assigned-id'));
        }
        if (page == 3) {
            $('#noticeid').val($(elem).data('assigned-id'));
        }
    }
    $("#newAdvertisment").on("click", function () {
        GetData("/CustomerHome/RegisterAdvertisment", "divRegister");
    });
    function showAllAdvertisment() {

        GetData("/CustomerHome/AllAdvertisment", "divRegister");
    }
    $("#newNotice").on("click", function () {
        GetData("/CustomerHome/RegisterNotice", "divRegister");
    });
    function showAllNotice() {
        GetData("/CustomerHome/AllNotice", "divRegister");
	}
    function profileManagment() {
        GetData("/CustomerHome/ProfileManagment", "divRegister", null, true);
    }
    function showAllReserve() {
        GetData("/CustomerHome/AllReserveThisUser", "divRegister");

    }
</script>

