@model Gisoo.ViewModel.SearchReserveViewModel


<link href="~/HomeContent/assets/css/styles.css" async defer rel="stylesheet">
<script src="~/HomeContent/assets/js/header-bundle.js"></script>
<script src="~/js/Common.js"></script>
<script src="~/HomeContent/assets/js/footer-bundle.js"></script>
<script src="~/HomeContent/assets/js/footer-base-bundle.js"></script>
@using Gisoo.Utility
<div class="profile__content__header">
    <span>لیست رزروها</span>
</div>
<div class="profile__content__filter">
    <form id="SearchReserveForm">
        <div class="profile__content__filter__wrapper">
            <div>
                <input type="text" asp-for="title" class="form-control" placeholder="عنوان">
            </div>
            <div>
                <input type="text" asp-for="registerDate" class=" datepicker">
            </div>
            <div class="form-group">
                @*<select class="form-control" asp-for="lineLaw">
                        <option value=0>نوع هزینه</option>
                        <option value=1>اجاره</option>
                        <option value=2>درصدی</option>
                        <option value=3>حقوقی</option>
                        <option value=4>رزرو</option>

                    </select>*@
            </div>
            <div>
                <select class="form-control" asp-for="lineTypeId">
                        <option value=0>نوع</option>

                        @foreach (var item in Model.LineTypes)
                        {
                            <option value=@item.id>@item.name</option>
                        }
                    </select>
            </div>

            <div>
                <button type="button" onclick="SearchLine()">جستجو</button>
            </div>
        </div>
    </form>
</div>
<div class="profile__content__table">
    <table class="data-table">
        <thead>
            <tr>
                <th>فروشنده</th>
                <th>عنوان</th>
                <th>تصویر</th>
                <th>نوع لاین</th>
                <th>قیمت</th>
                <th>نوبت رزرو</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reserve)
            {
            <tr>

                <td>@item.user.fullname</td>
                <td>@item.line.title </td>
                @if (item.line.LineImages.FirstOrDefault() != null)
                {
                    <td><img src="/wwwroot/Line/file/@item.line.LineImages.FirstOrDefault().url" width="50" height="50"></td>
                }
                else
                {
                    <td><img src="/wwwroot/assets/img/slide2.jpg" width="50" height="50"></td>

                }
                <td>@item.line.lineType.name</td>

                <td>@item.price ریال</td>
                <td>@PersianCalendarDate.PersianCalendarResult(item.line.registerDate) </td>


                @*<td>@PersianCalendarDate.PersianCalendarResult(item.registerDate)</td>*@

            </tr>

            }
        </tbody>
    </table>
</div>
<script>

    function SearchLine() {
        var form = $("#SearchReserveForm").serialize();
        GetData("/CustomerHome/ReservedSalowns", "divRegister", form);
    }

</script>
